body {
    font-family: Arial,sans-serif;
    background: #f4f6f8;
    padding: 20px;
}
.events-title {
    text-align: center;
    margin-bottom: 30px;
}
.categories {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}
.category {
    padding: 10px 20px;
    border: none;
    background: #ddd;
    cursor: pointer;
    border-radius: 20px;
    pointer-events: auto;
}
.category.active {
    background: #1abc9c;
    color: white;
    border-radius: 8px;
}
.events-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
}
.event-card {
    background: white;
    padding: 20px;
    border-radius: 15px;
    margin: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,o.2);
    background-color: #ffffff;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    max-width: 300px;
    display: inline-block;
}
.event-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.3);
}
.event-card h3 {
    color:#1abc9c;
    margin-bottom: 15px;
}
.event-img {
    width: 100%;
    max-width: 500px;
    height: 200px;
    display: block;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
    object-fit: cover;
}
.event-img:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 20px rgba(0,0,0,0.3);
}
.footer {
    margin-top: 60px;
    padding: 30px 20px;
    background: #111;
    color: #f1f1f1;
    text-align: center;
}
.footer-content h3 {
    font-size: 22px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
.footer-content p {
    font-size: 14px;
    color: #ccc;
    max-width: 500px;
    margin: 0 auto 15px;
}
.footer-links {
    font-size: 13px;
    color: #aaa;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.event-card .tag {
    display: inline-block;
    padding: 3px 8px;
    background-color: #1abc9c;
    color: white;
    border-radius: 5px;
    font-size: 0.8rem;
    margin-bottom: 10px;
}
