body {
    background: #0f172a;
    font-family: Arial;
    color: white;
}
.bot {
    width: 400px;
    background: #111827;
    padding: 20px;
    bottom: 20px;
    border-radius: 12px;
    position: fixed;
    right: 20px;
}
textarea {
    width: 100%;
    height: 80px;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}
button {
    width: 100%;
    padding: 10px;
    background: #22c55e;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}
#answer {
    margin-top: 15px;
    background: #020617;
    padding: 10px;
    border-radius: 8px;
}